:root {
  font-size: 62.5%; /* equivalent to 10px */
  font-family: "Segoe UI", Ubuntu, Tahoma, Geneva, Verdana, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #484848;
  font-size: 8rem;
  color: #08d8f8;
}

#container {
  display:grid;
}

.gameboard {
  margin-inline: auto;
  width: 60rem;
  height: 60rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4fr 4fr 4fr 3fr;
  background-color: #308840;
  border: 1.2rem solid lightblue;
}

.square {
  display: grid;
  justify-content: center;
  align-content: center;
  border-inline: 0.6rem solid skyblue;
  border-block: 0.8rem solid skyblue;
}

.results {
  grid-column: 1 / -1;
  border-inline: 0.6rem solid skyblue;
  border-block: 0.8rem solid skyblue;
}